dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

.normal {
    color: green;
}

.exceeded {
    color: #DF0101;
}

header, footer {
    background: none repeat scroll 0 0 #A6C9E2;
    color: #2E6E9E;
    font-size: 20px;
    padding: 5px 20px;
    margin: 6px 0;
    border-radius: 5px;
}

button{
    border: 0px;
    padding: 3px 3px;
    align-content: center;
    vertical-align: middle;
    border-radius: 5px;

    border: 1px grey solid;
}

button:hover{
    background: black;
    color: white;
}

table.zebra{
    border:0px;
    width:100%;
    border-spacing: 0px;
    cellpadding:8;
    cellspacing:0;
}

table.zebra tr{
    text-align: left;
}

table.zebra tr:nth-child(odd){
    background-color: white;
}

table.zebra tr:nth-child(even) {
    background-color: #A6C9E2;
}

table.zebra td{
    padding:8px;
}

.blue{
    background: #A6C9E2;
}
.orange {
    background: #E47D22;
}

.red {
    background: crimson;
}

.green {
    background: darkgreen;
}

.transparent {
    background: transparent;
}
